<div class="app-add-post form">
  <div class="form-section">
    {{form-input title='Title' value=postTitle name="post-title" class=""}}
  </div>

  <div class="form-section">
    {{form-input title='Subject' value=postSubject name="post-title"}}
  </div>

  <div class="form-section">
    {{form-input title='Subject' value=postSubject name="post-title"}}
  </div>

  <div class="form-section">
    {{form-input title='Subject' value=postSubject name="post-title"}}
  </div>

  {{!-- <div class="form-section">
    <label class="form-label">Body</label>
    {{textarea value=postBody name="post-body" placeholder="Lorem ..."}}
  </div>
 --}}
  <button {{action 'action'}} type="button" name="button">Save</button>
</div>
